APScheduler==3.6.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
coverage==5.5
cryptography==3.3.1
emoji==1.2.0
idna==2.10
lxml==4.6.2
multitasking==0.0.9
numpy==1.20.0
pandas==1.2.1
pycparser==2.20
python-dateutil==2.8.1
python-telegram-bot==13.3
pytz==2021.1
requests==2.25.1
six==1.15.0
tornado==6.1
tzlocal==2.1
urllib3==1.26.3
yfinance==0.1.55
